<!DOCTYPE html>
<html>
<head>
    <title>maxx bettor weather</title>
    <meta charset="utf-8">
</head>
<body>
{{> header}}

<div>
    {{objThing.welcome}}
</div>
<p>IPO in August</p>
<ul>
{{#objThing.delta}} <li> {{.}}</li> {{/objThing.delta}}
</ul>

{{> footer}}
</body>
</html>