<!DOCTYPE html>
<html>
<head>
    <title>maxx bettor weather</title>
    <meta charset="utf-8">
</head>
<body>
{{> header}}

<h2>Back soon!</h2>

<p>The site is temporarily down for maintenance.</p>

{{> footer}}
</body>
</html>